.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .settings {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 10px;
      input[type="number"] {
        margin-left: 10px;
        width: 50px;
      }
    }
  }
  
  .result {
    margin-bottom: 20px;
    .password {
      width: 300px;
      font-size: 18px;
      text-align: center;
      margin-right: 10px;
    }
  
    .copyButton {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: #61dafb;
      border: none;
      color: white;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #21a1f1;
      }
    }
  }
  
  .generateButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    color: white;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #21a1f1;
    }
  }
  